.results {
 // margin: 0 auto;
  display: flex;
 // background-color: #D8E1E9;
 // border-radius: 7px;
  justify-content: space-between;


  .current {
    padding-right: 16px;



  }



  h2{
    text-align: center
  }


  h3{
    font-size: x-small;
  }
}
