.green-container-show {
  background-color: #678D58;
  z-index: 0;
  position: relative;
  bottom: 0;
  top: 57px;
  // height: 300vh;
  margin: auto;

  h1{
    padding-top: 70px;
    color: white;
  }
}

// .background-colors {
//   display: flex;
// }

.background-color-display {
  // width: 30%;
  margin: 2%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 70px;
}
