.version-container {

  * {
    font-family: monospace;
  }
}


.version-infos{
  height: 20em;
  > * {
    border-radius: 4px;
    height: 100%;
    text-align: center;
    padding: 1em;
  }
  p {
    font-size: 1.2em;
    letter-spacing: 2px;
  }
}

.version-stats{
  background-color: #1E3231;
  color: #D8E1E9;
}

.version-misc{
  background-color: $cgreen;
  min-width: 33%;
}
