<div class="footer sticky-bottom black-background" data-dark-mode-target="footer">
  <div class="footer-links">
    <a href="https://github.com/brendan-oconnell/one-degree-design" target="_blank"><i class="fab fa-github dark-mode-text"></i></a>
    <a href="#"><i class="fab fa-instagram dark-mode-text"></i></a>
    <a href="#"><i class="fab fa-facebook dark-mode-text"></i></a>
    <a href="#"><i class="fab fa-twitter dark-mode-text"></i></a>
    <a href="#"><i class="fab fa-linkedin dark-mode-text"></i></a>
  </div>
  <div class="footer-copyright dark-mode-text">
    <p class="dark-mode-text">This project uses data from <a href="https://api.websitecarbon.com/" target="_blank" class="dark-mode-text">Website Carbon API</a>
    </p>
  </div>
</div>
