<div class="footer sticky-bottom" data-dark-mode-target="footer">
  <div class="footer-links">
    <a href="https://github.com/brendan-oconnell/one-degree-design" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This project uses data from <a href="https://api.websitecarbon.com/" target="_blank">Website Carbon API</a>
  </div>
</div>
