<div class="footer sticky-bottom black-background" data-dark-mode-target="footer">
  <div class="footer-links">
    <a href="https://github.com/brendan-oconnell/one-degree-design" target="_blank"><i class="fab fa-github dark-mode-text"></i></a>
  </div>
  <div class="footer-copyright dark-mode-text">
    <p class="dark-mode-text"><a href="https://www.onedegreedesign.com/about" class="dark-mode-text">About this project</a>
    </p>
  </div>
</div>
