<div class="container">
  <div class="banner box about-page">
      <h1> About this <span class="highlight">project</span></h1>
      <p>The ever-expanding energy consumption of the Internet is a growing
      but often hidden contributor to the climate crisis. Marketing terms
      like “the cloud” often obscure the dirty infrastructure of server farms
      running on fossil fuels and the power consumption of consumer electronics.
      In fact, if the Internet were a country, its emissions would be the 7th-highest
      in the world!
      One Degree Design is a Ruby on Rails app that gives web developers
      a checklist of simple ways to reduce their webpage’s carbon footprint.
      We’ve researched the most impactful ways of reducing a website’s carbon footprint,
      and present this information in an easy-to-digest, actionable format.</p>
      <h1> How it<span class="highlight"> works</span></h1>
      <p>One Degree Design uses a combination of data from the <a href="https://api.websitecarbon.com/">Website Carbon API</a>,
      a free-to-use API developed by <a href="https://www.wholegraindigital.com/">Wholegrain Digital</a>, and web scraping
      to automatically detect and analyze images, fonts, and background color
      from websites. All of our code is open source and available on <a href="https://github.com/brendan-oconnell/one-degree-design">GitHub</a>.</p>
      <h1>Who we<span class="highlight"> are</span></h1>
      <p>This site was originally created as a final project for Le Wagon coding bootcamp.
      It was designed and is maintained by <a href="https://github.com/brendan-oconnell/">Brendan O’Connell</a> and <a href="github.com/luc-Siat/">Luc Siat</a>,
      with contributions from <a href="https://github.com/RomainEtcheverry">Romain Etcheverry</a>  and <a href="https://github.com/Tomy-code">Thomas Andrieu</a>.</p>
      <h1>Learn<span class="highlight"> more</span></h1>
      <p>If you’re interested in learning more about the intersection of the climate crisis and the Internet, we recommend the following resources:
      <br>
      <a href="https://sustainablewebdesign.org/">sustainablewebdesign.org</a>
      <br>
      <a href="https://abookapart.com/products/sustainable-web-design/">Sustainable Web Design book</a>
      <br>
      <a href="https://www.wholegraindigital.com/blog/">Wholegrain Digital blog</a>
      </p>
  </div>
</div>
