<div class="container">
  <div class="banner box">
      <h1> About this <span class="highlight">project</span></h1>
      <p> Take concrete steps to make your site greener!</p>
      <img src="https://www.milouandpilou.com/wp-content/uploads/2018/10/img_5686-902x1203.jpg" alt="candy cane">
      <img src="https://www.milouandpilou.com/wp-content/uploads/2018/10/swedishvictoriansweethernogin.png" alt="woman">
      <img src="https://www.milouandpilou.com/wp-content/uploads/2018/10/swedishvictoriansweethernogin.png" alt="more candy cane">
  </div>
</div>

<div class="green-container">
</div>

<div class="footer sticky-bottom">
  <div class="footer-copyright">
    <a href="https://github.com/brendan-oconnell/one-degree-design">GitHub</a>
  </div>
  <div class="footer-copyright">
    This project uses data from <a href="https://api.websitecarbon.com/">Website Carbon API</a>
  </div>
</div>
