<div class="position-relative">
  <div class="container text-center">
    <div class="banner box row">
        <h1>What's your <span class="highlight">website's</span> carbon footprint?</h1>
        <p> Take concrete steps to make your site greener!</p>
    </div>
    <div class="testyoursite">
      <%= simple_form_for([@website], html: { class: "text-center search-bar mt-4 ms-3 search-form-control form-group"},
        data: {
        loading_spinner_target: "form",
        action: "submit->loading-spinner#spin",
        }) do |f| %>
        <div class="search-bar-http-www-text">
          <h3>https://www.</h3>
        </div>
        <div class="search-bar-content pe-3">
          <%= f.input :url, placeholder: "example.com", label: false %>
        </div>
        <div class="me-3">
          <%= f.submit "Test my site now ⟶" , class: "btn btn-flat"  %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="green-container-home">
  </div>
</div>
