<div class="position-relative">
  <div class="container text-start">
    <div class="banner box">
        <h1>How much <span class="highlight" data-dark-mode-target="highlight">energy</span> does your site use?</h1>
        <p> Take concrete steps to make your site greener!</p>
    </div>
    <div class="testyoursite text-center row">
      <div class="col-12 mb-3">
        <h2>Test your site now</h2>
      </div>
      <div class="col-12 col-xl-6 col-lg-6 mx-auto w-100 ps-5 pe-5">
        <%# make a stimulus for the search %>
        <%= simple_form_for([@website]) do |f| %>
          <div class="search-form-control form-group">
            <div class="search-bar w-100">
              <div class="pe-0 mb-3 search-bar-http-www-text search-form-control flex-shrink-1">
                <h5 class="p-0 m-0">https://www.</h5>
              </div>
              <div class="search-bar-content flex-grow-1">
                <%= f.input :url, placeholder: "onedegreedesign.com", label: false, class:"border-start-0 search-input" %>
              </div>
              <%= f.submit "Test my site now ⟶", class: "btn btn-flat mb-3 ms-3 btn-search"  %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="green-container-home" data-dark-mode-target="green">
  </div>
</div>
