<div class="position-relative">
  <div class="container text-center">
    <div class="banner box">
        <h1>What's your <span class="highlight orange-highlight"  data-dark-mode-target="highlight">website's</span> carbon footprint?</h1>
        <p> Take concrete steps to make your site greener!</p>
    </div>

    <div class="cta-container container">
      <div class="cta-text">
        <h2>Test your site now</h2>
      </div>
      <%= simple_form_for([@website],
        data: { loading_spinner_target: "form",
        action: "submit->loading-spinner#spin",
        }) do |f| %>
      <div class="cta-link row">
          <div class="col-12 col-lg-8 search-form-control form-group cta-link-http">
            <%= f.input :url, placeholder: "onedegreedesign.com", label: false, class:" search-input form-control " %>
          </div>
          <div class="col-12 col-lg-4 search-form-control form-group cta-button">
            <%= f.submit "Check your site ⟶", class: "btn btn-flat mb-3 btn-search"  %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="homepage-colored-half green-container-home black-background" data-dark-mode-target="green">
    <div class="spacer"></div>
    <div class="container text-center text-light mt-5 mb-3">
      <br>
      <p>Type URL <strong>without</strong> https://www, for example nytimes.com.
      <br>Analysis will take 10 seconds or longer to complete. We're not currently able to analyze all websites.
      <br>
      <div class="homepage-links">
      See example results for <a href="https://www.onedegreedesign.com/versions/3/" class="dark-mode-text">nytimes.com</a>, <a href="https://www.onedegreedesign.com/versions/4/" class="dark-mode-text">salon.com</a>, and <a href="https://www.onedegreedesign.com/versions/5/" class="dark-mode-text">vox.com</a>.
      </div>
      </p>
    </div>
  </div>
</div>
