<div class="container">
  <div class="banner box">
      <h1> How it <span class="highlight">works</span></h1>
      <p> Take concrete steps to make your site greener!</p>
  </div>
</div>

<div class="green-container">
</div>

<div class="footer sticky-bottom">
  <div class="footer-copyright">
    <a href="https://github.com/brendan-oconnell/one-degree-design">GitHub</a>
  </div>
  <div class="footer-copyright">
    This project uses data from <a href="https://api.websitecarbon.com/">Website Carbon API</a>
  </div>
</div>
