<div class="container">
  <div class="banner box">
      <h1> We weren't able to successfully analyze your site.</h1>
      <p> Don't worry! You didn't do anything wrong. We're still working on developing this tool so we can successfully analyze data from a wider range of websites. Something simple, such as how you display images on your site, probably tripped us up.</p>
      <p>In the meantime, if you'd like to see what a sample results page looks like, try one of these:</p>
      <p>www.nytimes.com</p>
      <p>www.vox.com</p>
  </div>
</div>

<div class="green-container">
</div>

<div class="footer sticky-bottom">
  <div class="footer-copyright">
    <a href="https://github.com/brendan-oconnell/one-degree-design">GitHub</a>
  </div>
  <div class="footer-copyright">
    This project uses data from <a href="https://api.websitecarbon.com/">Website Carbon API</a>
  </div>
</div>
