<div class="banner">
    <h1>Your Results</h1>
    <p> How's your carbon footprint?</p>
</div>

<div class="results">
  <h2>STATS</h2>
  <p>Your site is using <strong>....%</strong> less electricity than average</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti tempore quis, quas magni dicta earum necessitatibus minus veritatis, amet quasi ipsum architecto at facere hic ad non neque eveniet sapiente.</p>
</div>


<div class= cards-container>
  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="https://images.unsplash.com/photo-1584791097929-aa825fe8e1e1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>A blue bird</h3>
      <div>
        This a demo experiment to skew image container. It looks good.
    </div>
  </div>
  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="https://images.unsplash.com/photo-1584791097929-aa825fe8e1e1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>A blue bird</h3>
      <div>
        This a demo experiment to skew image container. It looks good.
    </div>
  </div>
  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="https://images.unsplash.com/photo-1584791097929-aa825fe8e1e1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>A blue bird</h3>
      <div>
        This a demo experiment to skew image container. It looks good.
    </div>
  </div>
</div>
