<div class="banner">
    <h1>Your Results</h1>
    <p> How's your carbon footprint?</p>
</div>

<div class="results">
  <h2>STATS</h2>
  <p>Your site is using <strong>....%</strong> less electricity than average</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti tempore quis, quas magni dicta earum necessitatibus minus veritatis, amet quasi ipsum architecto at facere hic ad non neque eveniet sapiente.</p>
</div>


<div class= cards-container>
  <div class="a-box">
    <a href="#media">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="https://res.cloudinary.com/dl2397gne/image/upload/v1654356289/fto1h0awpazoybhqmhdg.jpg">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>Media</h3>
        <div>
          change your image size.
        </div>
      </div>
    </a>
  </div>

  <div class="a-box" >
    <a href="#background-color">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="https://res.cloudinary.com/dl2397gne/image/upload/v1654357373/yojouytvdjy3eepeii9w.jpg">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>Background Color</h3>
        <div>
          Improve your background colors.
        </div>
      </div>
    </a>
  </div>

  <div class="a-box">
    <a href="#front">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="https://res.cloudinary.com/dl2397gne/image/upload/v1654357350/gacouuogdrggblx2vd4w.jpg">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>Front</h3>
        <div>
          pas d'idée de texte.
        </div>
      </div>
    </a>
  </div>
</div>
