.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  padding-left: 2%;
}

.banner h1 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
}

.banner p {
  font-size: 20px;
  color: #AF5D63;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  padding-top: 8vh;
  width: 82%;
}
