.banner {
  background-size: cover;
  background-position: center;
  padding-top: 11vh;
  padding-left: 2%;
  h1 {
    margin: 0;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
  }
  p {
    font-size: 20px;
    color: #AF5D63;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    width: 82%;
  }
}
