.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1C2629;
  transition: background 0.3s ease;
  margin: 4vh 0;
  padding: 2vh 30vh;
}

.btn-flat:hover {
  background: #000000;
  color: white;
  padding: 2vh 30vh;
}
