.card-title {
  padding: 0 4%;
  color: white;
  font-size: 24px;
  font-weight: 100;
}

.card-category {
  background-size: cover;
  background-position: center;
  // height: 300px;
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 16px;
  color: black;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 13px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-top: 20px;
  right: 9%;
  left: 9%;
  // position: absolute;
  margin: 0 4.3%;
  text-decoration: none;
}

.card-stat {
  //display: flex;
  justify-content: space-around;
  color: black;
  align-items: center;
  right: 10%;
  left: 10%;
  // margin: 0 auto;
  // padding: 30px;
  display: flex;
 // background-color: #D8E1E9;
  border-radius: 7px;
  position: absolute;
  // padding-bottom: 1%;
  z-index: 2;

  .card-hosting{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 60px;
    text-align: center;
    padding-top: 5%;
    // justify-content: center;
    // border-style: groove;
    border-radius: 16px;
    font-size: 22px;
    // line-height: 1.4;
    // margin-bottom: -54px;
    // margin-top: 24px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 45%;

    // img {
    //   padding-top: 34%;
    // }
    h1 {
      font-size: 4.5rem;
    }
  }

  .card-megabyte{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 60px;
    text-align: center;
    padding-top: 72px;
    // justify-content: center;
    // border-style: groove;
    border-radius: 16px;
    font-size: 22px;
    // line-height: 2.4;
   // margin-bottom: -54px;
   // margin-top: 24px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 45%;
  }

  // img {
  //   padding-top: 10%;
  // }
}

.results {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 26px;
  font-weight: 600;
  h3 {
    font-size: 13px;
    margin: 0px;
  }
}

.solutions {
  font-size: 17px;
  background-color: #332B1A;
  color: #FFDC8E;
  border-radius: 8px;
  margin-top: 16px;
  padding: 2%;

  // p{
  //   padding-left: 8px;
  //   margin-top: 4%;
  // }
  h2 {
    font-size: 1.5rem;
  }
}


.file {
  margin-top: 1%;
  color: white;
}


.compress-images {
  font-size: 12px;
  background-color: #332B1A;
  color: white;
  border-radius: 8px;
  margin-top: 16%;
}

.card-font-results {
  text-align: left;
  color: white;

  p{
    text-align: center;
  }
}

.font-results {
text-align: center;
vertical-align: middle;
}

.font-color-display {
  margin: 2%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 70px;
  background-color: black;
}

.font-text{
  text-align: justify;
}

.font-solutions{
  font-size: 12px;
  background-color: #332B1A;
  color: white;
  border-radius: 8px;
  margin-top: 16px;
  margin-top: 24%;
  padding-left: 4%;
}

.background-solutions{
  font-size: 12px;
  background-color: #332B1A;
  color: white;
  border-radius: 8px;
  margin-top: 16px;
  margin-top: 24%;
  padding-left: 4%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
