.image-analysis {
  //margin: 0 1.9%;
  // padding: 0 4%;
  justify-content: space-between;

}
.analysis-card {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 14px;
  color: black;
  border-radius: 8px;
  padding: 0;
  background-color: black;



  // .analysis-card-title {
  //  // padding: 0 4%;
  //  // color: white;
  //  // font-size: 24px;
  //  // font-weight: 100;
  // }



  img{
    // position: absolute;
    // top: -9999px;
    // left: -9999px;
    // right: -9999px;
    // bottom: -9999px;
    // margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    // border-radius: 8px;
  }
}


.tip-card {
  margin-top: 1%;
}

.background-analysis-card {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  // background-color: white;
  height: 300px;
  //display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.analysis-banner {
  background-size: cover;
  background-position: center;
  margin-top: 8vh;
  display:inline-block;
  padding:10px 20px 15px;
  padding-left: 0px;
  h1 {
    margin: 0;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
  }
  p {
    font-size: 20px;
    color: #AF5D63;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    width: 82%;
  }
}

.analysis-row {
  margin: 3% 0;
}

//
