.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 0 4%;
  font-weight: 200;
}

.navbar-lewagon .brand {
  font-size: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 52px;
}

.highlightnav {
  color: #000000;
  position: relative;
  z-index: 0;
  text-decoration: none;
}
.highlightnav::before {
  // background-color: #D8E1E9;
  background-color: #ECB390;
  position: absolute;
  content: "";
  height: 20px;
  width: 92%;
  z-index: -1;
  bottom: 0;
  transform: translate(2px, 3px);
}

.container-fluid{
  display: flex;
  justify-content: flex-start !important;
}

.navbar-collapse{
  display: flex;
  justify-content: flex-end !important;
  padding: 20px;
}
