.results {
 // margin: 0 auto;
  display: block;
 // background-color: #D8E1E9;
 // border-radius: 7px;
  justify-content: space-between;


  .curret {
    padding-right: 16px;



  }

  .reduced {
    padding-left: 16px;
  }


  h2{
    text-align: center
  }

  strong{
    color: black;
  }

  h3{
    font-size: x-small;
  }
}
