.results {
 // margin: 0 auto;
  display: block;
 // background-color: #D8E1E9;
 // border-radius: 7px;
  justify-content: space-between;


  .curret {
    padding-right: 8px;

  }

  .reduced {
    padding-left: 8px;
  }


  h2{
    text-align: center
  }

  strong{
    color: green;
  }

  p{
    font-size: x-small;
  }
}
