.image-solutions {
  font-size: 12px;
  background-color: #332B1A;
  color: white;
  border-radius: 8px;
  margin-top: 16px;
  padding-left: 4%;
  padding-right: 4%;
}


.font-solutions{
  font-size: 12px;
  background-color: #332B1A;
  color: white;
  border-radius: 8px;
  margin-top: 16px;
  margin-top: 24%;
  padding-left: 4%;
  padding-right: 4%;
}

.background-solutions{
  font-size: 12px;
  background-color: #332B1A;
  color: white;
  border-radius: 8px;
  margin-top: 16px;
  margin-top: 24%;
  padding-left: 4%;
  padding-right: 4%;
}
