// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  background-color: white;
  padding: 0px;
}

.blur {
  filter:blur(4px);
}

.spacer{
  height: 10em;
  width: 100%;
}


.green {
  color: $cgreen;
}
.red {
  color: $cred
}

.dark-mode-bulb {
  a {
  font-size: 1em;
  text-align: center;
  color: #FCCA06;
    i {
      padding: .6em;
    }
  }
}


.yellow-background{
  background-color: $cyellow !important;
}

.black-background{
  background-color: black !important;
  h1, span {
    color: $cyellow;
  }
  .dark-mode-text {
    color: $cyellow
  }
}

.bulb-light {
  color: black !important;
}

.orange-highlightnav {
  color: #000000;
  position: relative;
  z-index: 0;
  text-decoration: none;
}

.orange-highlightnav::before {
  background-color: #ECB390 !important;
  position: absolute;
  content: "";
  height: 20px;
  width: 92%;
  z-index: -1;
  bottom: 0;
  transform: translate(2px, 3px);
}

.orange-highlight {
  color: #000000;
  position: relative;
  z-index: 0;
  text-decoration: none;
}
.orange-highlight::before {
  background-color: #ECB390;
  position: absolute;
  content: "";
  height: 33px;
  width: 100%;
  z-index: -1;
  bottom: 0;
  transform: translate(5px, 2px);
}
