// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  background-color: white;
  padding: 0px;
}

.blur {
  filter:blur(4px);
}

.spacer{
  height: 22em;
  width: 100%;
}


.green {
  color: $cgreen;
}
.red {
  color: $cred
}

.dark-mode-bulb {
  a {
  font-size: 1em;
  text-align: center;
  color: #FCCA06;
  i {
    padding: .6em;
  }
  }
}


.yellow-background{
  background-color: $cyellow !important;
}

.black-background{
  background-color: black !important;
  * {
    color: $cyellow !important;
  }
}

.bulb-light {
  color: black !important;
}

.orange-highlight {
  background-color: #ECB390;
}
