// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  background-color: white;
  padding: 0px;
}

<<<<<<< HEAD
// body {
//   height: 100%;
//   background: linear-gradient(
//     to top,
//     white 0%
//     white 50%
//     #678D58 50%
//     #678D58 100% );
// }
=======
.blur {
  filter:blur(4px);
}
>>>>>>> 19ec63cbd0e29206a2cb3d190b4b356ccb549b70
